doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Tracking

        h1(class="title") tracking
        div(class="form")
            form(method="POST" action="/tracking/add")
                text p1 
                input(type="text" class="txt-p1" name="p1")

                br

                text p2 
                input(type="text" class="txt-p2" name="p2")

                br

                text p3 
                input(type="text" class="txt-p3" name="p3")

                br

                text p4 
                input(type="text" class="txt-p4" name="p4")

                br

                text p5 
                input(type="text" class="txt-p5" name="p5")

                br

                text p6 
                input(type="text" class="txt-p6" name="p6")

                br

                text p7 
                input(type="text" class="txt-p7" name="p7")

                br

                text p8 
                input(type="text" class="txt-p8" name="p8")

                br

                text p9 
                input(type="text" class="txt-p9" name="p9")

                br

                text p10 
                input(type="text" class="txt-p10" name="p10")

                br

                input(type="submit" value="SUBMIT")